/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d4fcd4; /* light green */
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  margin: 5px;
  padding: 10px;
}

h1 {
  font-family: Verdana, sans-serif;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  font-family: Verdana, sans-serif;
  font-size: 1.35rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

h3 {
  font-family: Verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

p {
    margin-bottom: 15px;
}

table {
  border: 2px solid black;
  margin: 5px;
  padding: 0px;
}

tr {
  margin: 0px;
  padding: 0px;
}

th {
  border: 2px solid black;
  margin: 0px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

td {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

select {
  text-size-adjust: 150%;
  margin: 5px;
}

option {
  text-size: 150%;
}

button {
  margin: 4px;
}

.loadedmodel {
  margin: 20px auto;
  padding: 10px;
  max-width: 95%;
  background-color: #d4fcd4;
  align-content: center;
}

.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 95%;
  background-color: #d4fcd4;;
  display: flex;
  min-height: 75vh;
}

img.logo {
  width: 150px;
  border: solid 2px black;
  border-radius: 20px 20px 20px 20px;
  float: right;
}

.tab-column {
    width: 20%;
    background-color: #d4fcd4;
    border: none;
    padding: 20px 0;
}

.tab-button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

.tab-button.active {
    background-color: #2d9149;
    font-weight: bold;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.content-section {
    width: 80%;
    padding: 30px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
iframe.results {
    background-color: #FAFAFA;
    width: 95%;
}
div.secret {
    display: none;
}